<form ng-submit="updateFilter()">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-lg-offset-4 col-md-offset-3">
            <div class="formBlock">
              <input type="text" id="top_keywords" name="keywords" ng-keyup="updateFilter()" ng-model="searchbox.query" autocomplete="off" autocorrect="off" class="form-control" placeholder="Search by keyword" spellcheck="false" value="{{ params.keywords }}">
            </div>
        </div>
        <div style="clear:both;"></div>
    </div><!-- end row -->
</form><!-- end form -->



