<form ng-submit="updateFilter()">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 col-xs-11">
            <div class="formBlock">
              <input type="text" id="top_keywords" name="keywords" ng-keyup="updateFilter()" ng-model="searchbox.query" autocomplete="off" autocorrect="off" class="form-control" placeholder="Search by keyword" spellcheck="false" value="{{ params.keywords }}">
            </div>
        </div>
        <div style="clear:both;"></div>
    </div><!-- end row -->
</form><!-- end form -->



